    .container-fluid
    {
      height: 380px;
    }
  .framecontainer
{
  margin-left: 20px;


  margin-right: 20px
}
#logo
{
  width: 50px;
  margin-top: 30px;
}
#screen
{
  float: right;
  width: 90px;
  margin-top: 110px;
}
#info
{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.infor
{
  width: 60px;
  height: 65px;
  float: left;
  clear: right;
  margin-top: 5px;
  margin-right: 13px;
}
.arrow
{
  float: right;
  margin-top: 5px;

}
#covidintro
{
  
  height: 90px;
    border-bottom: 2px solid lightgrey;

}
#symptoms,#prevention
{
  margin-top: 10px;
  margin-bottom: 10px;
    border-bottom: 2px solid lightgrey;
}

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: 0px;
  -webkit-transition: opacity 1s linear, left 1s ease-out;
  -moz-transition: opacity 1s linear, left 1s ease-out;
  -o-transition: opacity 1s linear, left 1s ease-out;
  transition: opacity 1s linear, left 1s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;

}

.modal-header .img-logo {
  position: relative;
  top: 8px;
}
.modal-header {
  border-bottom-color: #e9ecef;
  background-color: #e9ecef;
  height: 65px;
  margin-bottom: 25px;
}

.modal-body h3 {
  font-weight: bold;
  font-size: 26px;
  margin-top: 25px;
}
.modal-body a {
  color: #333;
}


.modal-dialog {
  
   position: relative;
  width: auto;

  pointer-events: none;
  height: 100%;
  background: white;
}
.question .btn {
  width: 100%;
  display: block;
}

.bottom-question {
    position: fixed;
    bottom: 31px;
    width: 371px;
    max-width: 80%;
}


#fever
{
  text-align: center;
  height: 400px;

}
#fever img
{
  height: 300px;
}
#yesbtn
{
  margin-bottom: 5px;
}

.question .row
{
  display: none;
}
.question  .active {
  display: block;
}